@model SuiviPortefeuilleRBC.Models.Stock

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfShares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfShares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvestedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvestedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitaryPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitaryPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerformanceCash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformanceCash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerformancePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformancePercent)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
