@model SuiviPortefeuilleRBC.Models.Stock

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfShares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfShares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvestedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvestedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitaryPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitaryPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerformanceCash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformanceCash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerformancePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformancePercent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
