@model IEnumerable<SuiviPortefeuilleRBC.Models.Stock>

<table id="tableStocks" class="table">
    <tr>
        <th/>
        <th />
        <th id="colName">@Html.DisplayNameFor(model => model.Description.Name)</th>
        <th id="colCode">@Html.DisplayNameFor(model => model.Description.Code)</th>
        <th id ="colNbShare">@Html.DisplayNameFor(model => model.NumberOfShares)</th>
        <th id="colPRU">@Html.DisplayNameFor(model => model.UnitaryPrice)</th>
        <th id="colPrice">@Html.DisplayNameFor(model => model.Description.LastPrice)</th>
        <th id="colChange">@Html.DisplayNameFor(model => model.Description.ChangePercent)</th>
        <th id="colPerfCash">@Html.DisplayNameFor(model => model.PerformanceCash)</th>
        <th id="colPerfPercent">@Html.DisplayNameFor(model => model.PerformancePercent)</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr id="@item.Code.Replace(".","")">
            <td class="buySellBtn">
                <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#newOperation"
                        value="buysell" data-url="@Url.Action("BuySellStock", "ManagePortfolio",
                        new
                        {
                            stockId = item.StockId,
                            sens = SuiviPortefeuilleRBC.Models.OperationOnStock.Buy
                        })">
                    Buy
                </button>
            </td>
            <td class="buySellBtn">
                <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#newOperation"
                        value="buysell" data-url="@Url.Action("BuySellStock", "ManagePortfolio",
                        new
                        {
                            stockId = item.StockId,
                            sens = SuiviPortefeuilleRBC.Models.OperationOnStock.Sell
                        })">
                    Sell
                </button>
            </td>
            <td class="boldName">@Html.DisplayFor(modelItem => item.Description.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description.Code)</td>
            <td>@Html.DisplayFor(modelItem => item.NumberOfShares)</td>
            <td>@Html.DisplayFor(modelItem => item.UnitaryPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.Description.LastPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.Description.ChangePercent)</td>
            <td>@Html.DisplayFor(modelItem => item.PerformanceCash)</td>
            <td>@Html.DisplayFor(modelItem => item.PerformancePercent)</td>
        </tr>
    }
</table>
